body{
    header{
        nav{
            background-color: #37b5ff;
            div{
                a{
                    img{
                        width: 10%;
                    }
                }
            }
        }
    }
    
    #title-enroll{
        padding-top: 15%;
        padding-bottom: 5%;
        background-image: url('../img/mainBackground.png');
        .jumbotrol{
            .container-fluid{
                color: #fc924c;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
                h1{
                    text-transform: uppercase;
                    font-family: 'MedievalSharp';
                    text-align: center;
                    font-size: 400%
                }
                p{
                    text-align: center;
                    color: #9ad4b3;
                    font-size: x-large;
                    font-weight: bolder;
                    -webkit-text-stroke-width: 1px;
                    a{
                        -webkit-text-stroke-width: 0px;
                    }
                }
            }
        }
    }

    .container{
        .row{
            #izquierda-index{
                background-color: #fffee2;
                #boton{
                    text-align: center;
                }
            }
            #centro-index{
                h4{
                    text-align: center;
                }
                p{
                    font-size: large;
                    img{
                        margin-left: 9%;
                    }
                }
            }
            #derecha-index{
                background-color: #eafee2;
                div{
                    display: flex;
                    padding-left: 200px;
                    a{
                        display: inline-block;
                        margin: 3%;
                        img{
                            display: block;
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    .info-empresa{
        h2{
            background-color: #37b5ff;
            font-weight: bolder;
            text-align: center;
            padding: 2%;
        }
        #localizacion{
            background-color: #fffee2;
            div{
                display: flex;
                flex-direction: column;
                h3{
                    text-align: center;
                    background-color: #fc924c;
                    color: #9ad4b3;
                }
                p{
                    text-align: center;
                    font-weight: bolder;
                }
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    img{
                        width: 20%;
                        margin: 2%;
                    }
                }
            }
        }
        #personal{
            background-color: #eafee2;
            display: flex;
            flex-direction: row;
            section{
                display: flex;
                flex-direction: column;
                justify-content: center;
                img{
                    width: 50%;
                    margin: 5%;
                }
            }
        }
    }

    #ask-for-a-job{
        margin-bottom: 1%;
        .container{
            .card{
                .card-body{
                    form{
                        .form-group{
                            p{
                                margin-top: 1%;
                            }
                        }
                        button{
                            background-color: #fffee2;
                            margin-bottom: 1%;
                            margin-top: 1%;
                        }
                    }
                }
            }
        }
    }

    #login{
        margin-bottom: 1%;
        .container{
            .card{
                .card-body{
                    form{
                        button{
                            background-color: #fffee2;
                            margin-bottom: 1%;
                            margin-top: 1%;
                        }
                    }
                }
            }
        }
    }

    #new-user{
        margin-bottom: 1%;
        .container{
            .card{
                .card-body{
                    form{
                        button{
                            background-color: #fffee2;
                            margin-bottom: 1%;
                            margin-top: 1%;
                        }
                    }
                }
            }
        }
    }
    
    #footer{
        background-color: darkcyan;
        text-align: center;
    }

    #modalPerfil{
        div{
            div{
                background-color: #9ad4b3;
                .modal-body{
                    form{
                        button{
                            background-color: #fffee2;
                            margin-bottom: 1%;
                        }
                    }
                }
            }
        }
    }

    #modalConstruccion{
        div{
            div{
                background-color: #9ad4b3;
                .modal-body{
                    form{
                        button{
                            background-color: #fffee2;
                            margin-bottom: 1%;
                        }
                    }
                }
            }
        }
    }

    #modalAdministracion{
        div{
            div{
                background-color: #9ad4b3;
                .modal-body{
                    form{
                        button{
                            background-color: #fffee2;
                            margin-bottom: 1%;
                        }
                    }
                }
            }
        }
    }

    #modalConfirmacion{
        div{
            div{
                background-color: #9ad4b3;
                .modal-body{
                    form{
                        button{
                            background-color: #fffee2;
                            margin-bottom: 1%;
                        }
                    }
                }
            }
        }
    }
}